.row
  .col-xs-8
    .row
      h3 Canvas #{globalCanvas.width} x #{globalCanvas.height}
    .row
      canvas#globalCanvas(width="512", height="512")

  .col-xs-4
    .row
      h3 Paint Area
    if !user  
      h5 Not available, login below.
    else
      .row
        p Choose your color
        input#color-picker(value="000000" class="jscolor {width:243, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666'}")

      br
      .row
        p X 
          .row.col
            input#color-picker-start-x(type="number")
        p Y
          .row
            input#color-picker-start-y(type="number")
        p Width
          .row
            input#color-picker-width(type="number")
        p Height
          .row
            input#color-picker-height(type="number")
      .row
        button#color-picker-apply-btn.btn.btn-primary Paint Rect

      .row
        div#paint-rect-error(class="alert alert-danger fade in" style="display: none")
          a(href="#" class="close" data-dismiss="alert")
          <strong>Error!</strong> Not a valid rectangle. Have in mind that the canvas supports #{globalCanvas.width} x #{globalCanvas.height} pixels.
      </div>