.row
  .col-xs-8
    .row
      h4 Canvas #{globalCanvas.width} x #{globalCanvas.height}
    .row
      canvas#globalCanvas(width="512", height="512")

  .col-xs-4
    .row
      h4 Paint Area
    if !user  
      p Not available, login below.
    else
      .row
        p Choose a color to paint
        input#color-picker(type="color")
      br
      .row
        p Rectangle
        p X 
          .row.col
            input#color-picker-start-x(type="number")
        p Y
          .row
            input#color-picker-start-y(type="number")
        p Width
          .row
            input#color-picker-width(type="number")
        p Height
          .row
            input#color-picker-height(type="number")
      .row
        button#color-picker-apply-btn.btn.btn-primary Apply